html {
    background: url("/IMG/blightstep.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    padding: 0%;
    margin: 0%;
    color: whitesmoke;
}

main {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landSection{
    width: 87%;
    margin: 1%;
    padding: 2%;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landSection input {
    width: 97%;
    font-size: 4em;
    text-align: center;
}

.inputSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.inputSection div {
    display: flex;
    flex-direction: row-reverse;

    width: 42%;
    padding: 1%;
    margin: 1%;
    border-radius: 3%;
}

.inputSection div img {
    width: 45%;
    height: 95%;
    margin: 1%;
}

.inputSection div input {
    width: 45%;
    height: 95%;
    margin: 1%;
    font-size: 5em;
    text-align: center;
    border: solid;
    border-color: gainsboro;
}

.outSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.outSection div {
    width: 10%;
    height: 10%;
    padding: 1%;
    margin: 1.5%;
}

.outSection div p {
    font-size: 5em;
    text-align: center;
    background-color: whitesmoke;
    border: solid;
    border-color: gainsboro;
    color: black;
    margin: 0%;
}

#lSec {
    background-color: #75675d;
    border: solid;
    border-color: #38302a;
}

.rSec {
    background-color: #E83A14;
    border: solid;
    border-color: #890F0D;
}

.uSec {
    background-color: #5BC0F8;
    border: solid;
    border-color: #0081C9;
}

.wSec {
    background-color: #FEF9A7;
    border: solid;
    border-color: #FAC213;
}

.bSec {
    background-color: #624F82;
    border: solid;
    border-color: #3F3B6C;
}

.gSec {
    background-color: #7DCE13;
    border: solid;
    border-color: #5BB318;
}

.cSec {
    background-color: #7B8FA1;
    border: solid;
    border-color:#567189;
}

@media only screen and (min-width: 992px) {
    .inputSection div {
        display: flex;
        flex-direction: row-reverse;
    
        width: 25%;
        padding: 1%;
        margin: 1%;
        border-radius: 3%;
    }
}